.bg-info, .btn-info {
    background: #43D7C2 !important; color: #fff !important; border: 0; 
}

.text-info {
    color: #43D7C2;
}

body {
    background: #fbfbfb !important;
}

.btn-info:hover {
    background-color: #FF6565 !important;
}

nav {
    background-color: #ffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav img {
    height: 2rem;
    width: auto;
    margin-right: 10px;
}

.links a:hover {
    color: #43D7C2 !important;
}

.links a.active {
    color: #43D7C2 !important;
}

#topicList li {
    color: #43D7C2;
    list-style-type: disc;
}

* {
    box-sizing: border-box;
}

.radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.radio-tile-group .radio-container {
    position: relative;
    /* height: 5rem; */
    /* width: 8rem; */
    margin: 0.3rem;
}

.radio-tile-group .radio-container .radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

.radio-tile-group .radio-container .radio-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid #43D7C2;
    border-radius: 5px;
    padding: 5px 15px;
    transition: transform 300ms ease;
}

.radio-tile-group .radio-container img {
    fill: #43D7C2;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 40px;
}

.radio-tile-group .radio-container .radio-tile-label {
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #43D7C2;
}

.radio-tile-group .radio-container .radio-button:checked+.radio-tile {
    background-color: #43D7C2;
    border: 2px solid #43D7C2;
    color: white;
}

.radio-tile-group .radio-container .radio-button:checked+.radio-tile .radio-tile-label {
    color: white;
    background-color: #43D7C2;
}

.post-card {
    border: 1px solid #fff;
    padding: 1rem 1rem 0 1rem;
    border-radius: 8px;
    background-color: #fff ;
}

.post-card:hover {
    background-color: rgb(238, 238, 238); cursor: pointer;
}

.post-card .profile-info {
    margin: 1rem;
    display: flex;
}

.post-card .profile-info img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.profile-name {
    color: #43D7C2;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}

.post-time {
    color: #888888;
}

.post-content {
    margin: 1rem 1rem 2rem 1rem;
}

.post-title {
    color: #43D7C2;
    font-size: 1.5rem;
    font-weight: bold;
}

.reply-section {
    display: grid !important;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 0 1rem 0.5rem 2rem;
    width: 100%;
    border: none;
    border-radius: 8px;
}

.reply-form .comments-form{
    display: flex;
    margin-bottom: 2rem;
}
.reply-form .comments-section {
    color: #888888;
    
}

.reply-icon {
    display: flex;
    align-items: center;
    margin: 1rem;
    color: #888888;
    cursor: pointer;
    gap: 1rem;
}

.reply-form ul {
    list-style-type: none;
    padding: 0;
}

.reply-form ul img.avatar{
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
}

.reply-form ul li{
    display: flex;
    margin: 1rem 0;
}

.reply-form .comments-section h6 {
    margin-bottom: 0.5rem; 
}

.reply-form img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.reply-form input {
    width: calc(100% - 20px); /* Lebar input sedikit lebih kecil dari container */
    border: none;
    border-bottom: 1px solid #ccc; 
    outline: none; 
}

.reply-form .send {
    float: right;
    color: #888888;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    outline: none;
}


.profile-header {
    background-image: url('./assets/images/header-background.svg');
    background-position: center;
    height: 10rem;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;
    border: 4px solid #fbfbfb;
    position: relative;
    margin: 5rem 0 0 1rem;
    z-index: 1;
}

.profile-header .dropdown {
    margin: 11rem 1rem 0 0;
}

.profile-info {
    margin: 5rem 0 0 1rem;
}

.profile-info h1 {
    font-size: 1.5em;
}

.profile-info p {
    margin: 0;
}

#bio {
    margin: 1rem 0 0 0;
}

.tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 2rem 0 0 0;
}

.tab {
    margin-right: 10px;
    cursor: pointer;
    padding: 8px 16px;
    position: relative;
    transition: color 0.3s ease; /* Efek transisi warna teks */
}

.tab.active {
    color: #43D7C2; /* Ganti warna teks tab yang aktif */
}

.tab::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Tinggi garis bawah */
    background-color: #43D7C2; /* Warna garis bawah */
    bottom: 0;
    left: 0;
    transform: scaleX(0); /* Mulai dengan lebar 0 */
    transform-origin: bottom left;
    transition: transform 0.3s ease; /* Efek transisi lebar garis bawah */
}

.tab:hover::before,
.tab.active::before {
    transform: scaleX(1); /* Lebar garis bawah penuh pada hover atau saat tab aktif */
}

.tab-content {
    display: none;
    margin: 1.5rem 0 0 0;
}

.tab-content.active {
    display: block;
}

.tab-divider {
    height: 2px;
    border: none;
    background-color: #ccc;
    margin: 0;
}

.reply-card {
    border: 1px solid #fff;
    padding: 1rem 1rem 0 1rem;
    border-radius: 8px;
    background-color: #fff ;
}
    
.reply-card:hover {
    background-color: rgb(238, 238, 238) ;
}
    
.reply-card .profile-info {
    margin: 1rem;
    display: flex;
}
    
.reply-card .profile-info img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

#post-reply {
    margin-left: 3rem ;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    border-left: 2px solid #ccc;
}